.adminPageHero {
    background-color: $white;
    border-radius: 10px;
    margin-bottom: 2rem;

    padding: 2rem 1rem;

    h1 {
        color: $primary;
        font-family: $bold;
        font-size: 3rem;

        line-height: 3.5rem;
    }
}
