.pageMain {
    background-color: $white;
    border-radius: 10px;
    display: block;
    min-height: 100svh;
    margin-bottom: 2rem;

    padding: 2rem 1rem;

    .table-responsive {
        overflow-y: visible;
        min-height: 100svh;
    }
}
